# Regular Expression

In [1]:
import re

In [2]:
text = '''
hello phone no +923444300394
second number is (+42)-444-555
'''

pattern = '\(?.\d{2}\)-\d{3}-\d{3}|\d{12}'

matches = re.findall(pattern, text)
matches

['923444300394', '(+42)-444-555']

In [3]:
text2 = 'dfdgfgd;sdffgds,fdgfh'
pattern1 = '[^;,]+' # * use inplace of + for all matches pattern spaces '' also
matches1 = re.findall(pattern1, text2)
matches1

['dfdgfgd', 'sdffgds', 'fdgfh']

In [4]:
text = '''
Note 1 - Overview
fghjk
dsfdf
Note 2 - Freelancing

'''

pattern = 'Note \d - ([^\n]*)'
matches = re.findall(pattern, text)
matches

['Overview', 'Freelancing']

In [5]:
text = '''
Note 1 - Overview
fghjk
fy2022 Q5
FY2021 Q6
dsfdf
Note 2 - Freelancing

'''

# pattern = 'FY\d{4} Q[0-9]'
pattern = 'FY(\d{4} Q[0-9])'

matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

['2022 Q5', '2021 Q6']

In [6]:
text = '''
Note 1 - Overview
fghjk
fy2022 Q5
FY2021 Q6
dsfdf
$4.28
$3
$6
Note 2 - Freelancing

'''

pattern = '\$[\d\.]+'
pattern = '\$([\d\.]+)'


matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

['4.28', '3', '6']

In [7]:
text = '''
Note 1 - Overview
fghjk
dfghj fy2022 Q5
fghjk 
dsfdf
fghjk $4.28
fghjk FY2021 Q6 $3
fghjk fy2019 Q8 $6
Note 2 - Freelancing

'''

# pattern = 'FY\d{4} Q[0-9][^\$]|\$[0-9\.]+'
pattern = 'FY(\d{4} Q[0-9])[^\$]+\$([0-9\.]+)'

# pattern = '\$([\d\.]+)'


matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

[('2022 Q5', '4.28'), ('2021 Q6', '3'), ('2019 Q8', '6')]

In [8]:
matches = re.search(pattern, text, flags=re.IGNORECASE) # FIND 1ST OCCURENCE
matches

In [9]:
matches.groups()

('2022 Q5', '4.28')

1. Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore _

In [10]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = 'https:[\S]+' # todo: type your regex here

re.findall(pattern, text)

['https://twitter.com/elonmusk,',
 'https://www.tesla.com/.',
 'https://twitter.com/teslarati',
 'https://twitter.com/dummy_tesla',
 'https://twitter.com/dummy_2_tesla']

In [11]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
# pattern = 'https://twitter\.com/([a-zA-Z0-9_]+)' # todo: type your regex here
pattern = 'https://twitter\.com/(\w+)' # todo: type your regex here


re.findall(pattern, text)

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

2. Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings

(1) Credit Risk

(2) Supply Rish

In [12]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = ': ([^:\n]*)' # todo: type your regex here

re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

3. Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

Hint: you need to use (?:) here to match everything enclosed

In [13]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY(\d{4} [a-zA-Z][0-9])+[^\$]+([\$\d\.]+)' # todo: type your regex here
matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

[('2021 Q1', '$4.85'), ('2021 S1', '$8')]

In [14]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY\d{4} (?:Q[1-4]|S[1-4])' # todo: type your regex here
matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

['FY2021 Q1', 'FY2021 S1']

In [15]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY(\d{4} (?:Q[1-4]|S[1-4])+[^\$]+([\$\d\.]+))' # todo: type your regex here
matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

[('2021 Q1 was $4.85', '$4.85'), ('2021 S1 was $8', '$8')]

In [16]:
text = '''
my name is Talha , 22 years old and Ahsan is 23
Mohsin is 24 and Arslan is 25

'''

pattern = r'\d{1,3}' # todo: type your regex here
matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

['22', '23', '24', '25']

In [17]:
text = '''
Talha , 22 years old and Ahsan is 23
Mohsin is 24 and Arslan is 25

'''

pattern = r'[A-Z][a-z]*' # todo: type your regex here
matches = re.findall(pattern, text, flags=re.IGNORECASE)
matches

['Talha',
 'years',
 'old',
 'and',
 'Ahsan',
 'is',
 'Mohsin',
 'is',
 'and',
 'Arslan',
 'is']

In [18]:
p = re.search('inform', 'inform me with this latest informatiom')
p

In [19]:
re.findall('inform', 'inform me with this latest informatiom')

['inform', 'inform']

In [20]:
str = 'inform me with this latest informatiom'
for i in re.finditer('inform', str):
    locup = i.span()
    print(i)

<re.Match object; span=(0, 6), match='inform'>
<re.Match object; span=(27, 33), match='inform'>

In [21]:
str = 'Sat, Mat, Rat'

re.findall('[SMR]at', str)

['Sat', 'Mat', 'Rat']

In [22]:
re.findall('[^SR]at', str)

['Mat']

In [23]:
s = re.compile('[R]at')
s.sub('food', str)

'Sat, Mat, food'

In [24]:
#\w = a-zA-Z0-9_
#\W = ^a-zA-Z0-9_

In [25]:
str = 'inform me with this latest informatiom'
m = re.compile('a') # ^ use for start word
for i in m.finditer(str):
    print(i)

<re.Match object; span=(21, 22), match='a'>
<re.Match object; span=(33, 34), match='a'>

In [26]:
m = re.compile('.a') # dot is use for character
for i in m.finditer(str):
    print(i)

<re.Match object; span=(20, 22), match='la'>
<re.Match object; span=(32, 34), match='ma'>

In [27]:
m = re.compile('m$') # match last elements ends , use $ sign
for i in m.finditer(str):
    
    print(i)

<re.Match object; span=(37, 38), match='m'>

In [28]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. , ; [] Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
text

"\nFollow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information \non Tesla's products can be found at https://www.tesla.com/. , ; [] Also here are leading influencers \nfor tesla related news,\nhttps://twitter.com/teslarati\nhttps://twitter.com/dummy_tesla\nhttps://twitter.com/dummy_2_tesla\n"

In [29]:
p = 'https\S+'
re.findall(p, text)

['https://twitter.com/elonmusk,',
 'https://www.tesla.com/.',
 'https://twitter.com/teslarati',
 'https://twitter.com/dummy_tesla',
 'https://twitter.com/dummy_2_tesla']

In [30]:
# remove links
text = re.sub(r"https\S+", "", text)
text

"\nFollow our leader Elon musk on twitter here:  more information \non Tesla's products can be found at  , ; [] Also here are leading influencers \nfor tesla related news,\n\n\n\n"

In [31]:
re.sub("[^A-Za-z]+", " ", text) #\w

' Follow our leader Elon musk on twitter here more information on Tesla s products can be found at Also here are leading influencers for tesla related news '

In [32]:
# remove special chars and numbers
text = re.sub("[^A-Za-z]+", " ", text)
text

' Follow our leader Elon musk on twitter here more information on Tesla s products can be found at Also here are leading influencers for tesla related news '

In [33]:
re.sub(r'[^\w\s]', "", text).strip()

'Follow our leader Elon musk on twitter here more information on Tesla s products can be found at Also here are leading influencers for tesla related news'

In [60]:
a = "this is a sample"
re.search(r'\bis\b', a)